<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Yandex Metrika module
 * 
 * @category Boangri
 * @package Boangri_YandexMetrika
 * @copyright Copyright (c) 2014 Cyberhull LLC (www.cyberhull.com)
 * @author Boris Gribovskiy (boris.gribovskiy@cyberhull.com)
 */
/**
 * Config
 * 
 * @category Boangri
 * @package Boangri_YandexMetrika  
 */
 -->
<config>
    <modules>
        <Boangri_YandexMetrika>
            <version>0.1.0</version>
        </Boangri_YandexMetrika>
    </modules>
    <global>
        <models>
            <boangri_yandexmetrika>
                <class>Boangri_YandexMetrika_Model</class>
                <resourceModel>boangri_yandexmetrika_resource</resourceModel>
            </boangri_yandexmetrika>
            <boangri_yandexmetrika_resource>
                <class>Boangri_YandexMetrika_Model_Resource</class>
                <entities>
                    <counter>
                        <table>boangri_ym_counters</table>
                    </counter>
                </entities>
            </boangri_yandexmetrika_resource>
        </models>
        <resources>
            <boangri_yandexmetrika_setup>
                <setup>
                    <module>Boangri_YandexMetrika</module>
                    <class>Boangri_YandexMetrika_Model_Resource_Setup</class>
                </setup>
            </boangri_yandexmetrika_setup>
        </resources>
        <blocks>
            <boangri_yandexmetrika>
                <class>Boangri_YandexMetrika_Block</class>
            </boangri_yandexmetrika>
        </blocks>
        <helpers>
            <boangri_yandexmetrika>
                <class>Boangri_YandexMetrika_Helper</class>
            </boangri_yandexmetrika>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <boangri_yandexmetrika module="Boangri_YandexMetrika">
                    <file>boangri_yandexmetrika.xml</file>
                </boangri_yandexmetrika>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Boangri_YandexMetrika before="Mage_Adminhtml">Boangri_YandexMetrika_Adminhtml</Boangri_YandexMetrika>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>      
</config>
    
    